@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
